<% if current_user.id == 1 %>
  <%= render "layouts/caution" %>
<% elsif current_user != @location_report.user %>
  <div class="bg-navy">
    <div class="container status-check-height">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <i class="mt-5 bi bi-exclamation-triangle", style="font-size: 10rem; color: white;"></i>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <h1 class="table-color">他のユーザの情報を編集することはできません</h1>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <%= link_to "MYPAGE", public_user_path(current_user), class: "btn btn-outline-danger btn-half-width mr-2" %>
          <%= link_to "LOCATIONS", public_location_reports_path, class: "btn btn-outline-info btn-half-width ml-2" %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="light-blue-bg location-edit-height">
    <div class="container">
      <div class="col d-flex justify-content-cente">
        <h1 class="white-font en-font-title location-new-title">ReportEditting</h1>

        <%= form_with model: @location_report, url: public_location_report_path(@location_report), method: :patch do |f| %>
          <div class="form-group mt-5">
            <%= f.label :title, "Title", class: "white-font location-new-small" %>
            <%= f.text_field :title, placeholder: "#{@location_report.title}", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :body, class: "white-font location-new-small" %>
            <%= f.text_area :body, placeholder: "#{@location_report.body}", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :date, class: "white-font location-new-small" %>
            <%= f.date_select :date, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :event, class: "white-font location-new-small" %>
            <%= f.text_area :event, class: 'form-control', placeholder: "#{@location_report.event}" %>
          </div>

          <div class="form-group">
            <!--プルダウン式で選択させたい=>f.select :OO,[["表示する文字”, "データベースに登録する値”]]-->
            <%= f.label :area, class: "white-font location-new-small" %>
            <%= f.select :area, [["北海道", "北海道"], ["東北", "東北"],["関東","関東"],["東海","東海"],
            ["甲信越","甲信越"],["北陸","北陸"],["関西","関西"],["中国（山陰山陽）","中国（山陰山陽）"],
            ["四国","四国"],["九州","九州"],["沖縄","沖縄"]], class: "form_control" %>
          </div>
          <div class="form-group">
            <%= f.label :address, class: "white-font location-new-small"  %>
            <%= f.text_field :address, class: "form_control", placeholder: "〇〇県△△市XXXX", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :image, class: "white-font location-new-small" %>
            <%= f.file_field :image, class: "form_control_file"%>
          </div>

            <%= f.label :publication_status, "publication_status", class: "white-font location-new-small" %>
            <%= f.select :publication_status, [["公開", "false"],["非公開", "true"]], class: "custom-select" %>

            <%= f.submit "投稿する", class: "btn btn-outline-light location-new-btn mt-2"%>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
