<%= render 'header.location' %>
<table class="table">
  <thead>
    <tr>
      <th>title</th>
      <th>area</th>
      <th>date</th>
      <th>like</th>
      <th>comment</th>
      <th>experiences</th>
    </tr>
  </thead>
  <% @location_reports.each do |location_report|%>
  <tbody>
    <tr>
      <th scope="row">
        <%= link_to "#{location_report.title}", public_location_report_path(location_report) %>
      </th>
      <td><%= location_report.area%></td>
      <td><%= location_report.date%></td>
      <!--以下未実装項目-->
      <td><%= location_report.favorites.count %></td>
      <td><%= location_report.comments.count%></td>
      <td><%= location_report.experiences.count %></td>
    </tr>
  </tbody>
  <% end %>
  <%= paginate @location_reports %>
</table>