<div class="search-form">
  <%= form_with url: public_location_report_search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, placeholder: '投稿に関しての検索はこちらから'%>
    <%= f.submit "検索" %>
  <% end %>
</div>

<%= link_to "新規投稿", new_public_location_report_path %>

<% if @results.present? %>
  
  <% @results.each do |result| %>
    <%= result.title %>
  <% end %>
<% else %>
<table class="table">
  <thead>
    <tr>
      <th>title</th>
      <th>area</th>
      <th>date</th>
      <th>like</th>
      <th>comment</th>
      <th>experiences</th>
    </tr>
  </thead>

  <% @location_reports.each do |location_report| %>
      <tbody>
        <tr>
          <% if location_report.publication_status == false && location_report.report_status == false %>
            <th scope="row">
              <%= link_to "#{location_report.title}", public_location_report_path(location_report) %>
            </th>
            <td><%= location_report.area%></td>
            <td><%= location_report.date%></td>
            <td><%= location_report.favorites.count %></td>
            <td><%= location_report.comments.count%></td>
            <td><%= location_report.experiences.count %></td>
          <% end %>
        </tr>
      </tbody>
  <% end %>

  <%= paginate @location_reports %>
</table>
<% end %>