<div class="bg-navy public-location-show">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h3 class="top_title">
            ReportTitle:&nbsp;&nbsp;<%= @location_report.title%>
          </h3>
          <h3 class="yellow-font report-secound">
            User:&nbsp;&nbsp;<%= @location_report.user.account_name%>
          </h3>
          <% if @location_report.event.present?%>
            <h3 class="yellow-font report-secound">
              Event:<%= @location_report.event%>
            </h3>
          <% end %>
          <h5 class="show-body">
            <%= @location_report.body%>
          </h5>
          <% if @location_report.image.present?%>
            <%= image_tag @location_report.image, size: "500x300", class: "mb-3" %>
          <% else %>
            <div class="d-flex justify-content-center">
              <i style="font-size: 10rem;" class="bi bi-cloud-upload-fill table-color"></i>
            </div>
          <% end %>
          <br>

        </div>
        <div class="col-6">
          <h3 class="address-title yellow-font ml-3">
            Address
          </h3>
          <p class= "yellow-font" ><%= @location_report.address%></p>

          <%= form_with model: @location_report, url: admin_location_report_path(@location_report), method: :patch do |f| %>
            <%= f.label :report_status, "管理者公開非公開設定：", class: "yellow-font"%>
            <%= f.select :report_status, [["公開",false], ["非公開",true]], class: "custom-select "%>
            <%= f.submit "change", class: "btn btn-outline-danger ml-5 " %>
          <% end %>

          <h3 class="yellow-font mt-4 ml-3">
            Comments
          </h3>

          <!--コメントの一覧・削除機能-->
          <% if @comments.present? %>
              <table class="mt-3">
                <thead>
                  <tr>
                    <th class="white-font">アカウントネーム</th>
                    <th class="white-font">コメント</th>
                    <th></th>
                  </tr>
                </thead>
              <% @comments.each do |comment| %>
                <tr class="mb-5">
                  <td class="white-font mb-3"><%= comment.user.account_name %></td>
                  <td class="white-font mb-3"><%= comment.body%></td>
                  <td class="white-font mb-3"><%= link_to "削除", admin_location_report_comment_path(@location_report, comment), method: :delete, class: "ml-3 mb-3 btn btn-outline-danger" %></td>
                </tr>
              <% end %>

              </table>

              <div class="d-flex justify-content-center">
                <%= paginate @comments %>
              </div>


          <% else%>
            <p class="yellow-font mt-3">この記事にはまだコメントがついていないみたい。</p>
          <% end %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="favorite-experience col-5">
            <!-- いいねしてくれた人たち -->
            <button type="button" class="user-show-btns btn btn-outline-danger" data-toggle="modal" data-target="#FavoriteModal">
              いいねしてくれたユーザ
            </button>
            <div class="modal" id="FavoriteModal" tabindex="-1" role="dialog" aria-labelledby="favoriteModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="favoriteModalLabel">いいねしてくれたユーザ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <% if @favorites.count == 0 %>
                      <p>まだ誰もみてくれてないみたい！</p>
                    <% else %>
                      <% @favorites.each do |favorite| %>
                        <%= link_to "#{favorite.user.account_name}", admin_user_path(favorite.user) %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="favorite-experience col-5 mb-3">              <!-- いったことのあるユーザ -->
              <button type="button" class="user-show-btns btn btn-outline-warning" data-toggle="modal" data-target="#ExperiencesModal">
                いったことのあるユーザ
              </button>
              <div class="modal" id="ExperiencesModal" tabindex="-1" role="dialog" aria-labelledby="experienceModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="experienceModalLabel">いったことのあるユーザ</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <% if @experiences.count == 0 %>
                        <p>まだ、そんなに混んでいないのかも</p>
                      <% else %>
                        <% @experiences.each do |experiences| %>
                          <%= link_to "#{experiences.user.account_name}", admin_user_path(experiences.user) %>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                <div id='map' class="show-map"></div>

                <script>

                let map
                let geocoder
                let marker = []; // マーカーを複数表示させたいので、配列化
                let infoWindow = []; // 吹き出しを複数表示させたいので、配列化
                const location_report = gon.location_report; // コントローラーで定義したインスタンス変数を変数に代入


                function initMap(){
                    // geocoderを初期化
                    geocoder = new google.maps.Geocoder()
                    // mapの初期位置設定
                    map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: -35.6809591, lng: 139.7673068},
                    zoom: 14
                    });
                    // forは繰り返し処理
                    // 変数iを0と定義し、
                    // その後gonで定義したusers分繰り返し加える処理を行う
                    for (let i = 0; i < location_report.length; i++) {
                        // geocoderで addressの経緯緯度取得
                        // users[i]は変数iのユーザーを取得している
                        geocoder.geocode( { 'address': location_report[i].address }, function(results, status) {
                            // statusがOKであれば
                        if (status == 'OK') {
                    　　　　// map.setCenterで地図が移動
                            map.setCenter(results[0].geometry.location);
                            marker[i] = new google.maps.Marker({
                                map: map,
                                position: results[0].geometry.location
                            });
                            // 変数iを変数idに代入
                            let id = location_report[i]['id']
                            // infoWindowは吹き出し
                            infoWindow[i] = new google.maps.InfoWindow({
                            // contentで中身を指定
                            // 今回は文字にリンクを貼り付けた形で表示
                            content: `<a href='/admin/location_reports/${id}'>${location_report[i].title}</a>`
                            });
                            // markerがクリックされた時、
                            marker[i].addListener("click", function(){
                                // infoWindowを表示
                                infoWindow[i].open(map, marker[i]);
                            });
                        } else {
                            alert('Geocode was not successful for the following reason: ' + status);
                        }
                        });
                    }
                }

                function codeAddress(){
                    // 入力を取得
                    let inputAddress = document.getElementById('address').value;
                    // geocodingしたあとmapを移動
                }
                </script>
            </div>
        </div>
    </div>
</div>

<!--google map-->
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['MAPS_API_KEY'] %>&callback=initMap">
    </script>