<p>ãƒ¦ãƒ¼ã‚¶ãƒ¼æƒ…å ±</p>

<%= @user.account_name%>
<%= @user.email%>
<%= @user.introduction%>

<%= form_with model: @user, url: admin_user_path(@user), method: :patch do |f| %>
<%= f.select :user_condition, [["æœ‰åŠ¹","false"], ["å‡çµ","true"]] %>
<%= f.select :user_rank, [["ðŸ”°åˆå¿ƒè€…ðŸ”°", 1],["âœˆæ—…ã®ã‚»ãƒŸãƒ—ãƒ­âœˆï¸Ž", 2],["ðŸ‘‘æ—…ã®ãƒ—ãƒ­ãƒ•ã‚§ãƒƒã‚·ãƒ§ãƒŠãƒ«ðŸ‘‘", 3]] %>
<%= f.text_area :admin_comment, palaceholder: "ç®¡ç†è€…ã‚³ãƒ¡ãƒ³ãƒˆã‚’å…¥åŠ›ã§ãã¾ã™ã€‚" %>

  <%= f.submit "æå‡ºã™ã‚‹" %>
<% end %>