<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="form-signin sign-xx">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <form>
            <h1 class="h3 mb-3 fw-normal">Welcome back</h1>

            <div class="form-floating">
              <%= f.label :email, "email",for: "floatingInput"%>
              <%= f.email_field :email, class: "form-control", id: "floatingInput" ,placeholder: "name@example.com"%><br />
            </div>

            <div class="form-floating">
              <%= f.label :password, "password", for: "floatingPassword"%>
              <%= f.password_field :password, class: "form-control", placeholder: "Password"%><br />
            </div>

            <%= f.submit "Log in", class: "w-100 btn btn-lg btn-outline-dark" %>

          </form>
        <% end %>
      </div>
    </div>

    <div class="col-6 reverse-side ">
      <p><%= link_to "chikage", public_top_path, class: "logout-font"%></p>
      <p><%= link_to "access to reports", public_location_reports_path, class: "btn btn-outline-info logout_reports_btn" %></p><br>
      <p><%= link_to "if you don't resistered yet",  new_user_registration_path, class: 'btn  btn-outline-warning logout_sign_up_btn'%></p><br>
    </div>
  </div>
</div>

