<% if current_user.id == 1%>
  <%= render "layouts/caution" %>
<% elsif current_user != @user %>
<div class="bg-navy">
  <div class="container status-check-height">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <i class="mt-5 bi bi-exclamation-triangle", style="font-size: 10rem; color: white;"></i>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <h1 class="table-color">他のユーザーの情報を編集することはできません</h1>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <%= link_to "MYPAGE", public_user_path(current_user), class: "btn btn-outline-danger btn-half-width mr-2" %>
        <%= link_to "USERS", public_users_path, class: "btn btn-outline-info btn-half-width ml-2" %>
      </div>
    </div>
  </div>
</div>
<% else %>
  <div class="light-blue-bg edit-user-height">
    <div class="container">
      <div class="col d-flex justify-content-cente">
        <h1 class="white-font en-font-title location-new-title">AccountEditting</h1>

          <%= form_with model: @user, url: public_user_path(@user), method: :patch do |f| %>

            <div class="form-group mt-5">
              <td><%= f.label :account_name, "AccountName", class: "white-font location-new-small" %></td>
              <td><%= f.text_field :account_name , class: "form-control" %></td>
            </div>

            <div class="form-group">
              <td><%= f.label :introduction, class: "white-font location-new-small" %></td>
              <td><%= f.text_area :introduction , class: "form-control" %></td>
            </div>

            <div class="form-group">
              <td><%= f.label :email, class: "white-font location-new-small" %></td>
              <td><%= f.text_area :email, class: "form-control" %></td>
            </div>

            <div class="form-group">
              <td><%= f.label :image, class: "white-font location-new-small" %></td>
              <td><%= f.file_field :image, accept: "image/*",class: "form-control" %></td>
            </div>

            <%= f.submit "提出する", class: "btn btn-outline-light location-new-btn mt-2"%>

          <% end %>

      </div>
    </div>
  </div>




<% end %>