<div class="container">
    <div class="row">
        <div class="col">
            <%= form_with url: public_user_search_path, method: :get, local: true do |f| %>
                <%= f.text_field :keyword, placeholder: '会員に関してはこちらから'%>
                <%= f.submit "検索" %>
            <% end %>
        </div>
    </div>
    <% if @results.present? %>
        <%= render "layouts/user_search", obj: @results %>
    <% else %>
        <%= render "layouts/user_search", obj: @users%>
    <% end %>
</div>


