<div class="bg-navy user-show-height">
  <div class="container">
    <div class="row mb-5">
      <div class="col-3">
        <%= link_to edit_public_user_path(current_user) do %>
          <% if current_user.image.present? %>
            <%= image_tag current_user.image, class: "rounded-circle user-show-image" %>
          <% else %>
            <div class="no-face-icon">
              <i style="font-size: 5rem; color: white;" class="bi bi-emoji-smile"></i>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="col-3 user-show-title yellow-font">
        <h1><%= @user.account_name %></h1>
        <% if @user.user_rank == 1 %>
              <p class="ja-font white-font">🔰#初心者🔰</p>
          <% elsif @user.user_rank == 2 %>
              <p class="ja-font white-font">✈#旅のセミプロ✈</p>
          <% else @user.user_rank == 3 %>
              <p class="ja-font white-font">👑#旅のプロフェッショナル👑</p>
          <% end %>
      </div>
      <div class="col-3">
        <p class= "follower-btn yellow-font">
          follwers：<%= link_to @user.followers.count, followers_public_user_path(@user)%>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          follows：<%= link_to @user.followings.count, followings_public_user_path(@user) %>
        </p>
      </div>

      <div class="col-3">
          <% if @user == current_user %>
            <div class="show-btn-combo">
              <%= link_to "編集", edit_public_user_path(@user), class: "user-show-btns btn btn-outline-info" %><br>
              <%= link_to "いいねした投稿一覧へ", favorites_public_user_path(@user), class: 'mt-3 user-show-btns btn btn-outline-info' %>
            </div>
          <% else %>
            <%= link_to "いいねした投稿一覧へ", favorites_public_user_path(@user), class: 'user-show-btns favorites-report-btn btn btn-outline-info' %>
          <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col ja-font white-font show-intro">
        <%= @user.introduction %>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-center">
        <% if @location_reports.count == 0 %>
          <p class="yellow-font no-contents"><%= @user.account_name %>さんはまだ投稿していません</p>
        <% else %>
          <% @location_reports.each do |location_report|%>
            <div class="card-deck">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"><%= link_to "#{location_report.title}", public_location_report_path(location_report), class: "card-show-title btn btn-outline-info" %></h4>
                  <p class="card-text"><%= location_report.body%></p>
                  <p><span class="favorited-color"><i class="bi bi-heart-fill"></i>いいね</span><%= location_report.favorites.count %></p>
                  <p><span class="experienced-color"><i class="bi bi-geo-alt"></i>いったよ数</span>︎:<%= location_report.experiences.count %></p>
                </div>
              </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center mt-4">
        <%= paginate @location_reports%>
      </div>
    </div>
  </div>
  <!--管理者からのコメントがあれば記載する-->
  <% if @user.admin_comment.present? && current_user == @user%>
    <div class="row comment ml-4 mt-2">
      <div class="col">
        <h4 class="en-font-title table-color">AdminComment</h4>
        <p class="table-color"><%= @user.admin_comment %></p>
      </div>
    </div>
  <% end%>

</div>