<div class="container">
  <div class="row mt-5">
    <div class="col">
      <%= link_to edit_public_user_path(current_user) do %>
        <% if current_user.image.present? %>
          <%= image_tag current_user.image, size: "200x200", class: "rounded-circle" %>
        <% else %>
          <%= image_tag "noimage.jpg" , size: "100x100",class: "no-image ml-5" %>
        <% end %>
      <% end %>

      <h4>千 景 会 員 : <%= @user.account_name %></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-4">
      <p>フォロワー数：<%= link_to @user.followers.count, followers_public_user_path(@user) %></p>
      <p>フォロー数：<%= link_to @user.followings.count, followings_public_user_path(@user) %></p>
    </div>
  </div>



  <div class="row">
    <div class="col">
      <% if @location_reports.count == 0 %>
        <p><%= @user.account_name %>さんはまだ投稿していません</p>
      <% else %>
        <% @location_reports.each do |location_report|%>
          <div class="card-deck">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">location_report.title</h4>
                <p class="card-text">location_report.body</p>
                <p>❤︎いいね数：<%= location_report.favorites.count %></p>
                <p>♠︎いったよ数:<%= location_report.experiences.count %></p>
              </div>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


  <!--ログイン中ユーザと一致した場合は編集ページへ、不一致の場合、フォローボタンの表示-->
  <% if current_user.id == @user.id %>
    <%= link_to "編集ページ", edit_public_user_path(@user) %>
  <% else %>
    <% if @user.is_followed_by?(current_user) %>
      <%= link_to public_user_relationships_path(@user), method: :delete do %>
      <button class="btn btn-danger">フォロー解除する</button>
      <% end %>
    <% else %>
      <%= link_to public_user_relationships_path(@user), method: :post do %>
        <button class="btn btn-primary">フォロー</button>
      <% end %>
    <% end %>
  <% end %>

  <%= @user.introduction %>
  <% if @user.user_rank == 1 %>
      <p>🔰初心者🔰</p>
  <% elsif @user.user_rank == 2 %>
      <p>✈旅のセミプロ✈</p>
  <% else @user.user_rank == 3 %>
      <p>👑旅のプロフェッショナル👑</p>
  <% end %>

  <!--管理者からのコメントがあれば記載する-->
  <%= @user.admin_comment %>
