<div class="container-fluid">

  <div class="row mt-5">
    <div class="col-3"></div>
    <div class="col-3">
      <h3 class="mb-3">会員様情報</h3>
      <%= link_to edit_public_user_path(current_user) do %>
        <% if current_user.image.present? %>

          <%= image_tag current_user.image, size: "200x200", class: "rounded-circle" %>
        <% else %>
          <%= image_tag "noimage.jpg" , size: "100x100",class: "no-image ml-5" %>
        <% end %>
      <% end %>
    </div>
    <div class="col-1"></div>
    <div class="col-3">
      <h3>会員名：<%= link_to "#{current_user.account_name}", public_user_path(current_user)%></h3>
      <p class="mt-3">投稿数：<%= link_to "#{current_user.location_reports.count}", public_location_reports_path(current_user) %></p>
      <p>フォロー数：<%= link_to "#{current_user.followings.count}", followings_public_user_path(current_user) %> </p>
      <p>フォワー数：<%= link_to "#{current_user.followers.count}", followers_public_user_path(current_user) %> </p>
      <%= link_to "マイページへ", public_user_path(current_user) , class: "btn btn-primary"%>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <% if @location_reports.count == 0 %>
      <div class="d-flex">
        <p>まだ投稿したことがないようです</p>
        <%= link_to "新規投稿へ", new_public_location_report_path %>
      </div>
    <% else %>

      <% @location_reports.each do |report| %>
        <div class="card-group">
          <div class="d-flex mt-5">
            <div class="card">
              <%= link_to public_location_report_path(report), class: "card-img-top" do %>
                <% if report.image.present? %>
                  <%= image_tag report.get_image(348,350) %>
                <% else %>
                  <div id="map publoc-top"></div>
                <% end %>
              <!--↓link to do の end-->
              <% end %>
              <div class="card-body">
                <p><%= link_to "#{report.title}", public_location_report_path(report)%></p><br>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      <!--↓each文のend-->
      <% end %>
  </div>

      <div class="row d-flex justify-content-center top-paginate">
        <div class="d-flex">
          <%= paginate @location_reports %>
        </div>
      </div>

    <!--↓投稿のあるかないかのif文-->
    <% end %>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col">
      <%= link_to edit_public_user_path(current_user) do %>
        <% if current_user.image.present? %>
          <%= image_tag current_user.image, size: "200x200", class: "rounded-circle" %>
        <% else %>
          <%= image_tag "noimage.jpg" , size: "100x100",class: "no-image ml-5" %>
        <% end %>
      <% end %>

      <h4>千 景 会 員 : <%= @user.account_name %></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-4">
      <p>フォロワー数：<%= link_to @user.followers.count, followers_public_user_path(@user) %></p>
      <p>フォロー数：<%= link_to @user.followings.count, followings_public_user_path(@user) %></p>
      <p><%= link_to "いいねした投稿一覧へ", favorites_public_user_path(@user)%></p>
    </div>
  </div>



  <div class="row">
    <div class="col">
      <% if @location_reports.count == 0 %>
        <p><%= @user.account_name %>さんはまだ投稿していません</p>
      <% else %>
        <% @location_reports.each do |location_report|%>
          <div class="card-deck">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">location_report.title</h4>
                <p class="card-text">location_report.body</p>
                <p>❤︎いいね数：<%= location_report.favorites.count %></p>
                <p>♠︎いったよ数:<%= location_report.experiences.count %></p>
              </div>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


  <!--ログイン中ユーザと一致した場合は編集ページへ、不一致の場合、フォローボタンの表示-->
  <% if current_user.id == @user.id %>
    <%= link_to "編集ページ", edit_public_user_path(@user) %>
  <% else %>
    <% if @user.is_followed_by?(current_user) %>
      <%= link_to public_user_relationships_path(@user), method: :delete do %>
      <button class="btn btn-danger">フォロー解除する</button>
      <% end %>
    <% else %>
      <%= link_to public_user_relationships_path(@user), method: :post do %>
        <button class="btn btn-primary">フォロー</button>
      <% end %>
    <% end %>
  <% end %>

  <%= @user.introduction %>
  <% if @user.user_rank == 1 %>
      <p>🔰初心者🔰</p>
  <% elsif @user.user_rank == 2 %>
      <p>✈旅のセミプロ✈</p>
  <% else @user.user_rank == 3 %>
      <p>👑旅のプロフェッショナル👑</p>
  <% end %>

  <!--管理者からのコメントがあれば記載する-->
  <%= @user.admin_comment %>
