  <% if objects.present?%>
    <table class="table mt-5">
      <thead class="table-hover">
        <tr>
          <th class="table-color">Title</th>
          <th class="table-color">Account_name</th>
          <th class="table-color">Area</th>
          <th class="table-color">favorites</th>
        </tr>
      </thead>
      <tbody>
        <% objects.each do |obj| %>
          <tr>
            <th><%= link_to obj.title, public_location_report_path(obj), class: "btn btn-outline-light w-100"%></th>
            <th><%= link_to obj.user.account_name, public_user_path(obj), class: "btn btn-outline-light w-100" %></th>
            <td class="table-color"><%= obj.area %></td>
            <td class="table-color"><%= obj.favorites.count%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="row mb-5">
      <div class="col d-flex justify-content-center">
        <%= paginate objects %>
      </div>
    </div>

  <% else %>
      <div class="container mt-3 mb-4">
        <div class="row">
          <div class="col">
            <div class="face table-color">
              <i style="font-size: 15rem; color: white;" class="mt-5 bi bi-emoji-dizzy"></i><br>
              <p>検索結果は見つかりませんでした</p>
              <%= link_to "reports", public_location_reports_path, class: "btn btn-outline-light follow-btn"%>
            </div>
          </div>
        </div>
      </div>
  <% end %>