  <% if objects.present?%>
    <table class="table mt-5">
      <thead class="table-hover">
        <tr>
          <th class="table-color">タイトル</th>
          <th class="table-color">投稿者名</th>
          <th class="table-color">エリア</th>
          <th class="table-color">いいね数</th>
        </tr>
      </thead>
      <tbody>
        <% objects.each do |obj| %>
          <tr>
            <th><%= link_to obj.title, public_location_report_path(obj), class: "btn btn-outline-light w-100"%></th>
            <th><%= link_to obj.user.account_name, public_user_path(obj), class: "btn btn-outline-light" %></th>
            <td class="table-color"><%= obj.area %></td>
            <td class="table-color"><%= obj.favorites.count%></td>
          </tr>
        <% end %>

      </tbody>
    </table>
    <%= paginate objects, class: "index-locations pagination"%>
  <% else %>
    <h3 class="index-locations">検索結果はみつかりませんでした。</h3>
  <% end %>