<!DOCTYPE html>
<html>
  <head>
    <title>ChikagePf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <!--ヘッダー=>管理者　ログイン会員　非ログイン会員の三通りのヘッダー-->
    <% if admin_signed_in? %>
      <%= render 'layouts/admin' %>
    <% elsif user_signed_in? %>
      <%= render 'layouts/public_login' %>
    <% else %>
      <%= render 'layouts/public_logout'%>
    <% end %>

    <!--flash メッセージ -->
    <div class="message_space">
      <div class="flash_message">
        <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
      </div>
    </div>
    <%= yield %>
    
  </body>
</html>
